[submodule "TEMPLATES_BASE/Velentr.BASE_DUAL_SUPPORT/FNA/FNA"]
	path = TEMPLATES_BASE/Velentr.BASE_DUAL_SUPPORT/FNA/FNA
	url = https://github.com/FNA-XNA/FNA.git
[submodule "TEMPLATES_BASE/Velentr.DUAL_SUPPORT/FNA/FNA"]
	path = TEMPLATES_BASE/Velentr.DUAL_SUPPORT/FNA/FNA
	url = https://github.com/FNA-XNA/FNA.git
[submodule "TEMPLATES_BASE/Velentr.GENERIC_DUAL_SUPPORT/FNA/FNA"]
	path = TEMPLATES_BASE/Velentr.GENERIC_DUAL_SUPPORT/FNA/FNA
	url = https://github.com/FNA-XNA/FNA.git
